datasets==2.19.1
langchain-pinecone==0.1.1
langchain-openai==0.1.9
langchain==0.2.5
langchain-core==0.2.9
langgraph==0.1.1
semantic-router==0.0.48
serpapi==0.1.5
google-search-results==2.4.2
pygraphviz==1.12  # for visualizing
